*.png
*.jpg
camera_calibration/OpenCVCalibration/hist/*.png
camera_calibration/OpenCVCalibration/tmp/*.png
camera_calibration/OpenCVCalibration/hist/*.jpg
camera_calibration/OpenCVCalibration/tmp/*.jpg
